body {
    font-family: "Poppins", sans-serif;
}
.border {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 158, 158);
    width: 400px;
    padding: 0 20px;
}

.left, .right, .save {
    background-color: rgb(136, 80, 122); 
    width: 100px;
}
 .save {
    display: inline-flexbox;
}
